--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.8.2+cu110
tensorboard
opencv-python
etaprogress
torchsummary
ptflops==0.7.2.2
matplotlib
scikit-learn
scikit-image
