--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.5.0+cu101
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.6.0+cu101 
tensorboard
opencv-python
etaprogress
torchsummary
ptflops==0.7.2.2
matplotlib
scikit-learn
scikit-image
